// Home Content

.home {
  width: 100%;
  //.border();

  .intro {

    .header-img {
      //.border();
      width: 100%;
    }

    h2 {
      
       font-size: 32px;
      /*padding: 15px;
      font-size: 27px;*/
      //.border();
    }

    p {
       font-size: 1.6rem;
       line-height: 1.4;
       padding:0 15px;
      /*font-size: 1.25rem;
      margin-left: 11px;
      //.border();*/
    }

  
  }

  .space-images {
    /*flex-wrap: wrap;
    flex-direction: column */
    display: flex;
    flex-direction: row;
     width: 100%;
    //.border();

      
  
        // Middle images container
        
        // First Rocket Image
        img {
          /*.width: 100%;
          margin-top: 20px;
          margin-right: 60px;*/
          width: 28%;
          margin: 20px 2.5%;
          width: 78%;
          border-radius: 20px;
          height: 100%;
          //.border();
        }

        
        /*.sky {
          display: none;
        }

        .launch {
          display: none;
        }*/
  
  }

  .visit-planets {
    padding: 15px;
    width: 100%;

    h3 {
      /*font-size: 25px;
      margin-top: 11px;*/
       font-size: 28px;
      
    }

    p {
      margin-top: 13px;
      font-size: 1.25rem;
      margin-right: 2px;

      //.border();
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    .border();

    // Astronaut Image 
    .walk-img {
      width: 450px;
      padding-right: 100px;
      order: 1;
      //.border();
    } 

    .walk-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      .border();

      h3 {
         font-size: 28px;
         //display: flex;
        /*margin-bottom: 10px;
        font-size: 25px;*/
      }

      p {
        margin-bottom: 26px;
        
        //.border();
      }

      .wlk-blurb-1 {
        display: flex;
        //flex-direction: column;
        //.border();
      }


  }

    
    
    .walk-img-div {
      
      width: 100%;
      //margin-left: 4%;
    
    } 
    
    
      //img {
        //width: 100%;
        //height: auto;
        //border-radius: 10px;
       // .border();
      //}
    
  
  
  .btn {
  }
}
}// home