// Navigation code here

.nav-container {
    margin-top: 3rem;
    //.border();

    .logo-heading {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        //.border();

            
    }

    .nav {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        padding-bottom: 1rem;
        //.border();  
    }
}
